html {
    background: #000000;
    -webkit-font-smoothing: antialiased;
	background-image: url("../img/bg.png");
	background-size: 100% auto;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
	color: #ffffff;
}

a {
    color: #078B9F;
}

b, strong {
    font-weight: 600;
}

h1, h2, h3 {
    color:#078B9F;
    font-weight: 600;
    line-height: 1.3
}

ul.nav {
    left: 0;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #222222;
    position:fixed;
}

code {
	background-color: #bbbbbb;
    color: #000000;    
}

pre{
    background-color: #bbbbbb;
    display: inline-block;
}
	
i.legend{
	font-size: 12px;
}

a.nav {
    display: block;
    color: #078B9F;
    padding: 8px 16px;
    text-decoration: none;
}

a.nav:hover {
    background-color: #555;
    color: white;
} 

a.active {
    background-color: #078B9F !important;
    color: white;
}

pre.prettyprint {
    border: none !important;
}

p.title {
    font-weight: 400;
    font-size: 75px; 
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p.subtitle {
    font-weight: 200;
    font-size: 40px; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
